.shop {
  flex: 1;
  background-color: #f7f45f;
  color: #242424;
  padding: 16px;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  max-height: 32px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.shop-button {
  background-color: #499c59;
  color: #f7f45f;
  padding: 6px;
  border-radius: 16px;
  width: 64px;
  height: 32px;
}
